.checkout__form {
  margin: 0 auto;
  display: inline-block;
  width: calc(100vw - #{$grid8x});

  .checkout__form-box {
    width: 100%;
    height: $grid20x;

    .checkout__form-input {
      padding: 0;
      border: none;
      color: #fff;
      margin: 0 auto;
      height: $grid12x;
      display: inline-block;
      width: calc(100% - 2px);
      background-color: transparent;
      border-bottom: 1px solid $white38;
      @include border-radius(0);
      @include transition(border-bottom 0.25s ease);

      &:focus {
        border-bottom: 1px solid #fff;
      }
    }
  }
}
