@function calculateRem($size) {
  $remSize: $size / $grid4x;
  @return $remSize * 1rem;
}

@mixin line-height($size) {
  line-height: $size * 1.6;
  line-height: calculateRem($size) * 1.6;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
  @include line-height($size);
}

@mixin box-shadow ($val:$grid, $val2:$grid2x, $color:$black08) {
  -webkit-box-shadow: 0 $val $val2 $color;
  -ms-box-shadow: 0 $val $val2 $color;
  -o-box-shadow: 0 $val $val2 $color;
  box-shadow: 0 $val $val2 $color;
}

@mixin drop-shadow ($val:0, $val2:$grid, $val3:$grid2x, $color:$black16) {
  -webkit-filter: drop-shadow($val $val2 $val3 $color);
  -khtml-filter: drop-shadow($val $val2 $val3 $color);
  -moz-filter: drop-shadow($val $val2 $val3 $color);
  -ms-filter: drop-shadow($val $val2 $val3 $color);
  -o-filter: drop-shadow($val $val2 $val3 $color);
  filter: drop-shadow($val $val2 $val3 $color);
}

@mixin border-radius ($val:$grid2x) {
  border-radius: $val;
}

@mixin user-select () {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@mixin transform ($val) {
  -webkit-transform: $val;
  -khtml-transform: $val;
  transform: $val;
}

@mixin transition ($transition...) {
  -webkit-transition: $transition;
  transition: $transition;
}

@mixin bottomBtnGrad () {
  background: rgba(132, 77, 255, 0);
  background: -moz-linear-gradient(top,
      rgba(132, 77, 255, 0) 0%,
      rgba(132, 77, 255, 1) 12%,
      rgba(132, 77, 255, 1) 100%);
  background: -webkit-gradient(left top,
      left bottom,
      color-stop(0%, rgba(132, 77, 255, 0)),
      color-stop(12%, rgba(132, 77, 255, 1)),
      color-stop(100%, rgba(132, 77, 255, 1)));
  background: -webkit-linear-gradient(top,
      rgba(132, 77, 255, 0) 0%,
      rgba(132, 77, 255, 1) 12%,
      rgba(132, 77, 255, 1) 100%);
  background: -o-linear-gradient(top,
      rgba(132, 77, 255, 0) 0%,
      rgba(132, 77, 255, 1) 12%,
      rgba(132, 77, 255, 1) 100%);
  background: -ms-linear-gradient(top,
      rgba(132, 77, 255, 0) 0%,
      rgba(132, 77, 255, 1) 12%,
      rgba(132, 77, 255, 1) 100%);
  background: linear-gradient(to bottom,
      rgba(132, 77, 255, 0) 0%,
      rgba(132, 77, 255, 1) 12%,
      rgba(132, 77, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#844dff', endColorstr='#844dff', GradientType=0);
}

/* ==============================
  toast
============================== */
.toasted-container {

  // iPhone X safearea
  @supports (padding-bottom: env(safe-area-inset-bottom)) {
    padding-bottom: calc(env(safe-area-inset-bottom));
  }

  .toasted.primary.default {
    width: auto;
    color: #fff;
    margin: 0 auto;
    font-weight: 400;
    text-align: center;
    background: $black78;
    margin-bottom: $grid12x;
    padding: $grid3x $grid4x;
    @include font-size($grid3x);
    @include border-radius($grid16x !important);
    @include box-shadow($grid, $grid2x, $black16);
  }
}

.__cov-progress {
  top: $header !important;
}
